
    <div class="row">
      <div class="container">
        <div class="pt-5 col-lg-10 m-auto pb-2">
          <section class="nes-container d-none d-lg-block">
            <section class="nes-container is-dark">
            <section class="message-list">
              <section class="message -left ">
                <img src="../assets/images/princesa-peach.png" alt="flor" class="nes-bcrikko" style="width: 73px;">
                <!-- Balloon -->
                <div class="nes-balloon from-left is-dark">
                  <div class="css-typing">
                    <p>Hola, soy Joan Lazo !</p>
                  </div>
                </div>
              </section>

              <section class="message -right">
                <!-- Balloon -->
                <div class="nes-balloon from-right is-dark">
                  <div class="css-typing2">
                    <p>Conoce un poco de mis aventuras...</p>
                  </div>
                </div>
                <img src="../assets/images/princesa-peach.png" alt="flor" class="nes-bcrikko" style="width: 73px;transform: scaleX(-1);">
              </section>
            </section>
          </section>
          </section>
              <!-- mobile -->
              <section class="nes-container is-dark d-block d-lg-none">
                <section class="message-list">
                    <section class="message-left">
                      <!-- Balloon -->
                      <div class="nes-balloon from-left is-dark">
                          <p class="text-m">Conoce mis aventuras...</p>
                      </div>
                      <img src="../assets/images/flor.png" alt="flor" class="nes-bcrikko">
                    </section>
                  </section>
                </section>

        </div>
        <div class="mt-3">
          <div class="pt-5 col-lg-10 m-auto pb-2">
            <section class="nes-container with-title is-centered">
              <p class="title">Acerca de mi</p>
              <section id="mi" class="container">

                <!--Section heading-->
                <!-- <h1 class="h1 py-5 font-weight-bold text-center Nunito color-four">ACERCA DE MÍ</h1> -->
                <div class="row pt-3">
                  <!-- <div class="col-12 text-center pt-3">
                  </div> -->

                  <div class="col-lg-12">
                    <img class="img-joan" src="../assets/images/img-1-joan.jpg" alt="joan" class="z-depth-0 img-joan">
                  </div>

                </div>
                 <div class="container pt-3">
                <!--Grid row-->
                <div class="row">

                  <!--Grid column-->
                  <div class="col-12 col-lg-12 nes-container is-rounded pl-2 ">
                    <!--Section description-->
                    <p class="text-left" style="font-size: 0.8em;">Siempre estoy dispuesta a enfrentar nuevos retos tomando los errores como oportunidades para mejorar cada día. Me apasionan los proyectos sociales y educativos; poder crear soluciones que generen valor es mi propósito.</p>

                  </div>
                  <!--Grid column-->




                  <!--Grid column-->

                </div>
                <!--Grid row-->
              </div>
              </section>
              <!--/Section: Features v.4-->
            </section>
          </div>

        </div>

        <div>
          <div>
            <div class="pt-5 col-lg-10 m-auto pb-2 pb-5">
                <div class="nes-container  with-title is-centered">
                  <p class="title">Experiencias</p>
                  <div class="">
                    <div class="lists">

                      <!-- Projects section v.3 -->
                              <section class="my-5 container" id="experiencias">

                                <!-- Section description -->
                                <p class="grey-text text-center w-responsive mx-auto mb-5 Nunito">A lo largo de mi carrera he tenido la dicha de participar en diferentes eventos que me sumaron como profesional.</p>


                                <div class="row">

                                  <!-- Grid column -->
                                  <div class="col-lg-7">

                                    <!-- Grid row -->
                                    <div class="row mb-3">
                                      <div class="col-md-1 col-2">
                                        <i class="nes-icon is-small star"></i>
                                      </div>
                                      <div class="col-md-11 col-10">
                                        <h5 class="font-weight-bold mb-3">Hackeando la desigualdad 2020</h5>
                                        <p class="grey-text Nunito">Minimizar la brecha de genero creando soluciones para mejorar el acceso a servicios o productos.</p>
                                      </div>
                                    </div>
                                    <!-- Grid row -->

                                    <!-- Grid row -->
                                    <div class="row mb-3">
                                      <div class="col-md-1 col-2">
                                        <i class="nes-icon is-small star"></i>
                                      </div>
                                      <div class="col-md-11 col-10">
                                        <h5 class="font-weight-bold mb-3">Reto</h5>
                                        <p class="grey-text Nunito">Crear un MVP en 12 horas</p>
                                      </div>
                                    </div>
                                    <!-- Grid row -->

                                    <!-- Grid row -->
                                    <div class="row mb-lg-0 mb-5">
                                      <div class="col-md-1 col-2">
                                        <i class="nes-icon is-small star"></i>
                                      </div>
                                      <div class="col-md-11 col-10">
                                        <h5 class="font-weight-bold mb-3">Proyecto</h5>
                                        <p class="grey-text mb-0 Nunito">Aplicación en Xcode sobre educación financiera para mujeres emprendedoras.</p>
                                      </div>
                                    </div>
                                    <!-- Grid row -->

                                  </div>
                                  <!-- Grid column -->

                                  <!-- Grid column -->
                                  <div class="col-lg-5 mb-5 mb-lg-0">
                                    <!--Image-->
                                    <img src="../assets/images/hack-2020.jpg" alt="Hackathon 2020" class="img-fluid rounded z-depth-1" style="width: 310px; height: auto">
                                  </div>
                                  <!-- Grid column -->

                                </div>

                                 <!-- Grid row -->
                              <hr class="my-5">
                              <!-- Grid row -->
                              <div class="row">

                                <!-- Grid column -->
                                <div class="col-lg-5 mb-lg-0 pt-lg-5  mb-3 mb-lg-0">
                                  <!--Image-->
                                  <img src="../assets/images/blockchain.jpeg" alt="Sample project image" class="img-fluid rounded z-depth-1" style="width: 400px; height: auto;">
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-lg-7">

                                  <!-- Grid row -->
                                  <div class="row mb-3">
                                    <div class="col-md-1 col-2">
                                      <i class="nes-icon is-small star"></i>
                                    </div>
                                    <div class="col-md-11 col-10">
                                      <h5 class="font-weight-bold mb-3 Nunito">Blockchain Challenge 2019</h5>
                                      <p class="grey-text">Seguridad de la información con las plataforma de IBM, Corda o Microsoft.</p>
                                    </div>
                                  </div>
                                  <!-- Grid row -->

                                  <!-- Grid row -->
                                  <div class="row mb-3">
                                    <div class="col-md-1 col-2">
                                      <i class="nes-icon is-small star"></i>
                                    </div>
                                    <div class="col-md-11 col-10">
                                      <h5 class="font-weight-bold mb-3 Nunito">Reto</h5>
                                      <p class="grey-text">Desarrolla un MVP en 24 horas.</p>
                                    </div>
                                  </div>
                                  <!-- Grid row -->

                                  <!-- Grid row -->
                                  <div class="row">
                                    <div class="col-md-1 col-2">
                                      <i class="nes-icon is-small star"></i>
                                    </div>
                                    <div class="col-md-11 col-10">
                                      <h5 class="font-weight-bold mb-3">Proyecto</h5>
                                      <p class="grey-text mb-0 Nunito">Web-app orientada a Centros Universitarios, facilitando el proceso de certificaciones y validación de documentos.</p>
                                    </div>
                                  </div>
                                  <!-- Grid row -->

                                </div>
                                <!-- Grid column -->

                              </div>

                              <!-- Grid row -->
                              <hr class="my-5">

                              <!-- Grid row -->
                              <div class="row">

                                <!-- Grid column -->
                                <div class="col-lg-7">

                                  <!-- Grid row -->
                                  <div class="row mb-3">
                                    <div class="col-md-1 col-2">
                                      <i class="nes-icon is-small star"></i>
                                    </div>
                                    <div class="col-md-11 col-10">
                                      <h5 class="font-weight-bold mb-3">Hackatrix Lima 2019</h5>
                                      <p class="grey-text Nunito">Hackathon de creación de proyectos innovadoras para solucionar problemas reales de la sociedad.</p>
                                    </div>
                                  </div>
                                  <!-- Grid row -->

                                  <!-- Grid row -->
                                  <div class="row mb-3">
                                    <div class="col-md-1 col-2">
                                      <i class="nes-icon is-small star"></i>
                                    </div>
                                    <div class="col-md-11 col-10">
                                      <h5 class="font-weight-bold mb-3">Reto</h5>
                                      <p class="grey-text Nunito">Crear un MVP en 12 horas, sobre el proyecto en cualquier lenguaje.</p>
                                    </div>
                                  </div>
                                  <!-- Grid row -->

                                  <!-- Grid row -->
                                  <div class="row mb-lg-0 mb-5">
                                    <div class="col-md-1 col-2">
                                      <i class="nes-icon is-small star"></i>
                                    </div>
                                    <div class="col-md-11 col-10">
                                      <h5 class="font-weight-bold mb-3">Proyecto</h5>
                                      <p class="grey-text mb-0 Nunito">Web-app desarrollanda en html,css y javascript,que permite ubicar centros de donaciones más cercanosa tu zona.</p>
                                    </div>
                                  </div>
                                  <!-- Grid row -->

                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-lg-5  mb-3 mb-lg-0">
                                  <!--Image-->
                                  <img src="../assets/images/belatrix.jpg" alt="Sample project image" class="img-fluid rounded z-depth-1" style="width: 310px; height: auto">
                                </div>
                                <!-- Grid column -->

                              </div>
                              <!-- Grid row -->

                              <hr class="my-5">

                                <!-- Grid row -->
                                <div class="row">

                                  <div class="col-lg-5 pt-lg-5 mb-5 mb-lg-0">
                                    <!--Image-->
                                    <img src="https://user-images.githubusercontent.com/44485081/58052231-e2bdd000-7b19-11e9-9143-0010f434eeb6.jpg" alt="Sample project image" class="img-fluid rounded z-depth-1">
                                  </div>
                                  <!-- Grid column -->

                                  <!-- Grid column -->
                                  <div class="col-lg-7">
                                    <!-- Grid column -->

                                    <!-- Grid row -->
                                    <div class="row mb-3">
                                      <div class="col-md-1 col-2">
                                        <i class="nes-icon is-small star"></i>
                                      </div>
                                      <div class="col-md-11 col-10">
                                        <h5 class="font-weight-bold mb-3">Talent Fest / Mayo 2019</h5>
                                        <p class="grey-text Nunito">Evento para la 8ava promoción de Laboratoria donde diferentes empresas nos proponen retos reales para desarrollar en 36 horas. Ganadoras del premio People Choise Award .</p>
                                      </div>
                                    </div>
                                    <!-- Grid row -->

                                    <!-- Grid row -->
                                    <div class="row mb-3">
                                      <div class="col-md-1 col-2">
                                        <i class="nes-icon is-small star"></i>
                                      </div>
                                      <div class="col-md-11 col-10">
                                        <h5 class="font-weight-bold mb-3">Reto</h5>
                                        <p class="grey-text Nunito">La empresa Empanacombi nos propone crear su web desde cero para incrementar las ventas, crear presencia digital y difusión en la web.</p>
                                      </div>
                                    </div>
                                    <!-- Grid row -->

                                    <!-- Grid row -->
                                    <div class="row mb-lg-0 mb-5">
                                      <div class="col-md-1 col-2">
                                        <i class="nes-icon is-small star"></i>
                                      </div>
                                      <div class="col-md-11 col-10">
                                        <h5 class="font-weight-bold mb-3">Proyecto</h5>
                                        <p class="grey-text mb-0 Nunito">Se creo un Landing Page desde cero con Wordpress, Cpanel y Dialogflow.La página fue desarrollada por completo agregando traductor de idiomas y un chatbot.</p>
                                      </div>
                                    </div>
                                    <!-- Grid row -->

                                  </div>
                                  <!-- Grid column -->


                                </div>
                                <!-- Grid row -->

                              </section>
                      <!-- Projects section v.3 -->
                    </div>
                  </div>
                  </div>

                <!--Grid row-->


            </div>
          </div>
        </div>
        <div id="contacto" class="pt-3 col-lg-10 m-auto pb-5">
          <section class="nes-container with-title is-centered ">
            <p class="title">Contáctame</p>
            <div class="d-flex justify-content-around align-items-center flex-wrap mb-3 mt-4">
              <div class="mr-3">
                <a href="mailto:joan162581@gmail.com"><i class="nes-icon gmail  is-large"></i></a>
              </div>
              <div class="mr-3">
                <a href="https://twitter.com/LazoJoan" target="_blank"><i class="nes-icon twitter is-large"></i></a>
              </div>
              <div class="mr-3">
                <a href="https://github.com/JoanLazo" target="_blank"><i class="nes-icon github is-large"></i></a>
              </div>
              <div class="mr-3">
                <a href="https://www.linkedin.com/in/joan-lazo-morales/" target="_blank"><i class="nes-icon linkedin is-large"></i></a>
              </div>
              <div class="mr-3">
                <a href="https://api.whatsapp.com/send?phone=+51997971032" target="_blank"><i class="nes-icon whatsapp  is-large"></i></a>
              </div>
            </div>
          </section>
        </div>

      </div>
    </div>



    <button type="button" id="scroll" class="nes-btn is-error scroll-btn active"  (click)="topFunction()"><span>&lt;</span></button>
