<header>
  <nav class="navbar navbar-expand-lg bg-black">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <img src="../../../assets/images/colores.png" class="navbar-toggler-icon logo" alt="">
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav navbar-nav w-100 justify-content-lg-around">
        <a class="nav-item nav-link" routerLinkActive="active" href="#proyectos">Proyectos</a>
        <a class="nav-item nav-link" routerLink="/me">Sobre mi <span class="sr-only">(current)</span></a>
        <a class="navbar-brand d-none d-lg-block" routerLink="/apertura-fondo-cliente">
          <div style="border-radius: 50%;">
            <img routerLink="/home" src="../../../assets/images/colores.png" class="d-inline-block align-top logo" alt="">
          </div>
        </a>
        <a class="nav-item nav-link" href="#skill">Skills</a>
        <a class="nav-item nav-link" href="#contacto" tabindex="-1" aria-disabled="true">Contacto</a>
      </div>
    </div>
  </nav>
</header>

