.fondo {
  background-image: url(../../../assets/images/fondo-2.jpg);
  width: auto;
  height: 100vh;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
