/* You can add global styles to this file, and also import other style files */
// style.scss
// style.scss
.nav-item.nav-link {
  color: white;
}
.nav-item.nav-link:hover {
  color: #007bff;
}
.nav-item.nav-link:focus {
  color: #007bff;
}
.nes-container.with-title>.title {
  display: table;
  padding: 0 .5rem;
  margin: -1.8rem 0 1rem;
  font-size: 1rem;
  background-color: #fff;
}
.item {
  margin-bottom: -1rem;
}
.item > * {
  margin-bottom: 1.5rem !important;
}
.nes-container.is-centered {
  text-align: center;
}
.nes-container.with-title.is-centered>.title {
  margin: -2rem auto 1rem;
}
.nes-container.with-title>.title {
  display: table;
  padding: 0 .5rem;
  margin: -1.8rem 0 1rem;
  font-size: 1rem;
  background-color: #fff;
}
.nes-bcrikko {
  position: relative;
  display: inline-block;
  width: 96px;
  height: 96px;
}
.nes-container>:last-child {
  margin-bottom: 0;
}
.message-list > .message.-left {
  align-self: flex-start;
}
.message-list > .message {
  display: flex;
  margin-top: 2rem;
}
.message-list > .message.-right {
  align-self: flex-end;
}
.message-list > .message {
  display: flex;
  margin-top: 2rem;
}
.message-list > .message > .nes-balloon {
  max-width: 550px;
}
.message-list > .message.-left i {
  margin-right: 2rem;
}
.message-list > .message i {
  align-self: flex-end;
}
.message-list > .message.-right i {
  margin-left: 2rem;
}
.img-joan {
  width: 50%;
}
h5 {
  font-size: 13px;
  text-align: left;
}
ul > li {
  font-size: 10px;
  text-align: left;
}
.grey-text {
  font-size: 10px;
  text-align: left;
}
.css-typing p {
  border-right: .15em solid white;
  white-space: nowrap;
  overflow: hidden;
}
.css-typing2 p {
  border-right: .15em solid white;
  white-space: nowrap;
  overflow: hidden;
}

.css-typing p:nth-child(1) {
  width: 19em;
  -webkit-animation: type 5s steps(40, end), blink .5s step-end infinite alternate;
  animation: type 5s steps(40, end), blink .5s step-end infinite alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing2 p:nth-child(1) {
  width: 32em;
  -webkit-animation: type 10s steps(40, end), blink .10s step-end infinite alternate;
  animation: type 10s steps(40, end), blink .10s step-end infinite alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
0% {
width: 0;
}
1% {
opacity: 1;
}
100% {
opacity: 1;
}
}

@-webkit-keyframes type {
0% {
width: 0;
}
1% {
opacity: 1;
}
100% {
opacity: 1;
}
}

@keyframes blink {
50% {
border-color: transparent;
}
}
@-webkit-keyframes blink {
50% {
border-color: transparent;
}
}
.scroll-btn.active {
  bottom: 25px;
}
.scroll-btn {
  position: fixed;
  bottom: -60px;
  right: 2rem;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 20px;
  transition: all 0.3s ease 0s;
}
.scroll-btn > span {
  display: block;
  transform: rotateZ(90deg);
}
.nes-btn.is-error:hover::after {
  box-shadow: inset -6px -6px #8c2022;
}
.nes-btn.is-error::after {
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  content: "";
  box-shadow: inset -4px -4px #8c2022;
}
.img-small {
  width: 100px;
  height: 100px;
  margin: 45px;
}
.border-black {
  cursor: pointer;
}
.click {
  cursor: pointer;
}
.nes-text.is-success {
  color: #92cc41;
}
.logo {
  width: 2em;
}
.bg-black {
  background-color: black;
}
@media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
.nes-btn {
    border-image-repeat: space;
}
@media screen and (max-width: 768px) {
  .message-list > .message > .nes-balloon {
      max-width: 60%;
  }
  .text-m {
    font-size: 0.8em;
  }
  .img-joan {
    width: 100%;
  }
}
}
